# Python-Programming

In [1]:
!python --version

Python 3.12.4

In [1]:
# Python -> general purpose & powerfull programming lang
# Python is considered as one the most versatile lang
# as it can develop -
#     -> Desktop application
#     -> Web
#     -> Iot
#     -> and Most imp AL, ML, DS

# created by: Guido var rossum

# inspired by ABC PL

# name after: "Monty Python's flying circus"

# managed by: Python Software Foundation

# https://www.python.org

In [3]:
# # Features:
#     -> Simple
#     -> Dynamically typed
#     -> Robust
#     -> Support multiple Programming paradigms
#     -> Cross Platform
#     -> Extensible
#     -> Huge Library 
#     impt===> compile as well as the interpreted

In [4]:
# ===> source code
# ===> compiler
# ===> Byte code
# ===> VM [interpreter]-> machine code

## 📘 Table of Contents

- [Data Types](#data-types)
- [Operators](#operatores)
- [Control Statement](#control-statement)
- [Loops](#loops)
- [Function](#function)
- [Lambda](#lambda)
- [List](#list)
- [List Comprehensions](#list-comprehensions)
- [Tuple](#tuple)
- [String](#string)
- [Dictionaries](#dictionary)
- [Comprehensions](#comprehensions)
- [OOPs Concepts](#OOPs)
- [Exception Handling](#exception-handling)

In [ ]:
# for verifying compile as well as the interpreted

# >>> python -m py_compile main.py  ===> folder ===> __pycache__
# >>> python main.cpython-312.pyc

In [5]:
print("Hare Krishna!")
print("Sanatan!")

Hare Krishna!
Sanatan!

tuple

In [23]:
# how new line

print("hare krishna!", end="\n")  # ===> bcoz of default keyword arg --> end="\n" , sep=" "
print("Sanatan")

hare krishna!
Sanatan

In [27]:
print("DA", "CSE", "ECE", "CE", sep="-")  # sep="-"

DA-CSE-ECE-CE

In [29]:
# there are 2 types of error in py

# -> Syntax error -> compile time error
# -> runtime error -> exception

In [40]:
# identifier: name given to entities
 # -> A-Z, a-z
 # -> 0-9 but can't start with
 # -> _

In [46]:
# keyword: pre-defined words/ reserved word

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## data-types
[🏠](#Python-Programming)

In [50]:
# Numeric -> int, float, complex
# Boolean -> bool
# Sequence -> str, list, bytes, bytearray, tuples, range
# set -> set, frozenset
# Mapping -> dict
# None type -> None

In [50]:
s = "kunal"
type(s)

str

In [52]:
nos = 3 + 7j
type(nos)

complex

In [62]:
# diff way of representing (int)

a = 101
print(a)

a = 0b101  # zero B/b -> binary  ==> base(2)
print(a)

# zero O/o -> octal ==> base(8)
# zero x -> hexadecimal ==> base(16)

101
5

In [70]:
bin(5)  # returns value in string form

'0b101'

In [72]:
oct(5)

'0o5'

In [74]:
hex(5)

'0x5'

In [86]:
s = "It's beautifull day"
s

"It's beautifull day"

In [90]:
name = "kunal"   # need like : "kunal"
print(name)

kunal

In [92]:
name = '''"kunal"'''
print(name)

"kunal"

In [94]:
name = '"kunal"'
print(name)

"kunal"

In [100]:
print(name[0])
print(name[-2])

"
l

In [102]:
# string concatenation

"GATE" +" DA"

'GATE DA'

In [104]:
# slicing: extractig a portion from string
#          pulling out a sequence of characters...

word = "I am from India!"

word[0:7]

'I am fr'

In [106]:
word[:]

'I am from India!'

In [116]:
word[-1::-1]

'!aidnI morf ma I'

In [114]:
word[::-1]

'!aidnI morf ma I'

In [120]:
# string operation

country = "Bharat"
print(len(country))
print(country.lower())   # ==> methods
print(country.upper())

6
bharat
BHARAT

In [126]:
# Type Conversion: Implicit===> done by compiler
#                  Explicit===> done programmer -> type casting
# int() float() str() complex() bool() 

no = int('123')
print(no)
type(no)

123

int

In [128]:
# Immutable: Not changeable
# Mutable: can be changed

# Immutable:  int
#             float
#             str
#             complex
#             tuple
#             range
#             frozenset
#             bytes
###########################
# Mutable:    list
#             dict
#             set
#             bytearray

In [137]:
a = 27
b = 27

# Qn is how many object created above
# ans: 1
# proof==> is / id()

print(id(a), id(b), sep=' || ')
print(a is b)

140723011403000 || 140723011403000
True

In [144]:
print(a == b) # compares the value
print(a is b) # compare the address

True
True

In [148]:
a = 258
b = 258

a is b   # ahhh :(((

False

In [156]:
a = -6
b = -6

a is b  # woahhh woahhh

False

In [150]:
# why it is so ???

# so the python internally caches the integer value
# in the range of -5 to 256   ===> in total 262
# beyond this python creates new object

In [158]:
# comment ===> single line ==> # ...
#         ===> multi line ==> """...""" (unofficial way)

In [165]:
# python does not have constant ...

# but do follow conventions ==> capital letters ==> PI = 3.14

## operatores
[🏠](#Python-Programming)

In [170]:
# operators 
# ===> arithmatic  ==> + - * // ** /
# ===> relatioinal ==> < <= > >= !=
# ===> logical ==> and or not
# ===> assignment ==> += -=,...
# ===> identity ==> is, is not
# ===> membership ==> in, not in

In [176]:
# input -> take any type of value converts into str

name = input("Enter ur name: ")
print("welcome", name)

Enter ur name:  kunal

welcome kunal

In [180]:
### area of circle. circumference

r = int(input())
a = 3.14*(r**2)
c = 2*3.14*r

print(a, c)

 2

12.56 12.56

In [184]:
# formate specifier
name = "kunal"
print("%s"%name)
type(name)

kunal

str

In [188]:
cc = 'A'
print("%c"%cc)
type(cc)

A

str

In [190]:
# format() method

print("Hare krishna {}".format("kunal"))

Hare krishna kunal

In [194]:
name = "kunal"
age = 21
print("hi, {} and u r {}yrs old".format(name, age))

hi, kunal and u r 21yrs old

## control-statement
[🏠](#Python-Programming)

In [196]:
# Decision control ==> if-else
n = int(input())
if n%2 == 0:
    print("Even")
else:
    print("Odd")

 7

Odd

In [202]:
# lower or Capital
alpha = input()
if 'A' <= alpha <= 'Z':
    print("Capital")
else:
    print("lower")

 k

lower

In [214]:
# detect char
char = input()
if 'A' <= char <='Z':
    print("Capital")
elif 'a' <= char <= 'z':
    print("lower")
elif '1' <= char <= '9':
    print("digit")
else:
    print("Something else")

 $

Something else

In [224]:
age = 12
'kid' if age < 13 else "teenager"

'kid'

## loops
[🏠](#Python-Programming)

In [61]:
# - while loop
# - for loop
# - do while loop isn't present in python

In [242]:
i = 0
while i < 11:
    print(i, end='=>')
    i += 1

0=>1=>2=>3=>4=>5=>6=>7=>8=>9=>10=>

In [251]:
# check str contains vowel or not

text = input()
i = 0
while i < len(text):
    if text[i] in "aeiouAEIOU":
        print("===>contains")
        break  # break out of the loop
    i += 1
else:
    print("===>not contain")

 kunal

===>contains

In [265]:
# range() function: returns a range object
a = range(10)
print(type(a))
list(a)

<class 'range'>

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [267]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [273]:
for i in range(11):
    print(i, end='->')

0->1->2->3->4->5->6->7->8->9->10->

In [293]:
for i in range(10, 0, -1):
    print(i, end='->')

10->9->8->7->6->5->4->3->2->1->

## functions
[🏠](#Python-Programming)

In [295]:
# Function: reusable block of code/\\

def add(a,b):
    return a+b

add(10, 40)

50

In [303]:
# default arg
def greet(name, msg="How r u!"):
    print("hi", name, msg)

greet("kunal")

hi kunal How r u!

In [315]:
def addno(a, b):
    return a+b
def addno(a, b, c):
    return a+b+c

addno(10,20)
addno(10,20,30)

TypeError: addno() missing 1 required positional argument: 'c'

In [325]:
# variable length arg
def addnos(*args):
    total = 0
    for n in args:
        total += n
    return total


print(addnos(10,20))
print(addnos(10,20,30))

30
60

## lambda
[🏠](#Python-Programming)

In [11]:
# Anonymouse functions: func that defined without name, lambda [arg1, arg2,...]: [exp]
# ====> lambda func can have many no of arguments ===> but only have the single expe


def add(a,b):
    return a+b

print(add(3, 4))


add2 = lambda a, b: a+b
add2(2, 3)

7

5

In [35]:
# first char of any str

c = lambda country: country[0]
print(c("Jambudeep"))


# even odd
evenOdd = lambda n: n%2 == 0
print(evenOdd(4))

# greater ele
greater = lambda a, b: a if a > b else b

greater(3, 5)

J
True

5

In [72]:
# map(): applies the function to all the ele of the sequence iterable.
# --> returns an object

def square(n):
    return n**2

x = map(square, range(1, 101))
print(x)
print(list(x))

<map object at 0x0000028B929ADF60>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [78]:
# or

print(list(map(square, range(1, 11))))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
# filter()

def check_even(n):
    return n%2 == 0

mylist = [2, 3, 4, 5, 6, 43, 78]
result = filter(check_even, mylist)
print(type(result))
print(list(result))

<class 'filter'>
[2, 4, 6, 78]

In [90]:
'''Guess
def f(n):
    return n*n

myNum = [1, 2, 3, 4, 5]
print(list(filter(f, myNum)))


a) [1, 4, 9, 16, 25]
b) [1, 2, 3, 4, 5]
'''

'Guess\ndef f(n):\n    return n*n\n\nmyNum = [1, 2, 3, 4, 5]\nprint(list(filter(f, myNum)))\n\n\na) [1, 4, 9, 16, 25]\nb) [1, 2, 3, 4, 5]\n'

In [96]:
# High-order-func with lambda:)
# first char of string

print(list(map(lambda s: s[0], ["Kunal", "Lokendra", "Nikita", "Krishna"])))

['K', 'L', 'N', 'K']

In [94]:
# even length --> even
# odd length --> first char of str

print(list(map(lambda s: "even" if len(s)%2 == 0 else s[0], ["kunal", "lokendra", "krishna", "nikita", "Dev"])))

['k', 'even', 'k', 'even', 'D']

In [112]:
# accepts character if it is vowel -> Vowel
                       # otherwise -> No Vowel

name = input()
vowel = list(filter(lambda ch: ch.lower() in "aeiou", name))
if len(vowel) == 0:
    print("No Vowel")
else:
    print("Vowel")

 kunal

Vowel

## list
[🏠](#Python-Programming)

In [126]:
# List ===> ordered, contain any arbitary object, indexed-base, dynamic in nature

# how to create
l = []
print(type(l))

mylist = [1, 2, 3, "kunal"]
print(type(mylist))

my_list = list()
print(type(my_list))

<class 'list'>
<class 'list'>
<class 'list'>

In [128]:
print(l)
print(mylist)
print(my_list)

[]
[1, 2, 3, 'kunal']
[]

In [130]:
nums = [10, 30, 40, 50, 51]
nums.append(1)
nums

[10, 30, 40, 50, 51, 1]

In [132]:
nums[::-1]

[1, 51, 50, 40, 30, 10]

In [134]:
nums[::]

[10, 30, 40, 50, 51, 1]

In [136]:
nums[::2]

[10, 40, 51]

In [138]:
nums[:4]

[10, 30, 40, 50]

In [142]:
nums[-1:-2]  #note it

[]

In [140]:
for n in nums:
    print(n, end='=>')

10=>30=>40=>50=>51=>1=>

In [144]:
print(mylist)

[1, 2, 3, 'kunal']

In [150]:
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [166]:
nums

[10, 30, 40, 50, 51, 1]

In [172]:
# built-in func

print(len(nums))   # -> returns the length of the list
print(max(nums))   # -> return max value in list
print(min(nums))   # -> return min value in list
print(sum(nums))   # -> returns the sum of list ele
print(sorted(nums)) # returns the sorted list; not modified the original one

print(list("kunal")) # make list from iterable
print(any(nums))  # return True if any of value is non-zero or truth val
print(all(nums))  # return True iff all value are non-zero or empty iterable
nums

6
51
1
182
[1, 10, 30, 40, 50, 51]
['k', 'u', 'n', 'a', 'l']
True
True

[10, 30, 40, 50, 51, 1]

In [199]:
# list methods: append(), extend(), insert(), index(), count(), remove(), sort(), pop(), clear(), sort(), reverse()


mylist = [1, 2, 3, 4]
mylist.append("kunal")
print(mylist)

[1, 2, 3, 4, 'kunal']

In [201]:
mylist.extend("kunal")
print(mylist)

[1, 2, 3, 4, 'kunal', 'k', 'u', 'n', 'a', 'l']

In [203]:
mylist.insert(4, [0,1])
mylist

[1, 2, 3, 4, [0, 1], 'kunal', 'k', 'u', 'n', 'a', 'l']

In [205]:
mylist.count('k')

1

In [207]:
mylist.remove(4) # --> thrown an exception if val doesn't exist
mylist

[1, 2, 3, [0, 1], 'kunal', 'k', 'u', 'n', 'a', 'l']

In [211]:
mylist.pop()  # -> default index -1

'l'

In [213]:
mylist.pop(3)

[0, 1]

In [215]:
mylist

[1, 2, 3, 'kunal', 'k', 'u', 'n', 'a']

In [223]:
n = [2, 1, 4,32, 41, 25, 6]
n.sort(reverse=True)
n

[41, 32, 25, 6, 4, 2, 1]

In [229]:
# sort on the basis of str length not on the basis of UNICODE
names = ["kunal", "nitya", "lokendra", "harishankar", "bhalu", "aalu"]

names.sort(key=len)
names

['aalu', 'kunal', 'nitya', 'bhalu', 'lokendra', 'harishankar']

In [231]:
names.reverse()
names

['harishankar', 'lokendra', 'bhalu', 'nitya', 'kunal', 'aalu']

## list-comprehensions
[🏠](#Python-Programming)

In [236]:
# list comprehensions: built list from another list
# 2.0 introduced list comprehensions and 3.0 dict comp, set comp..

In [244]:
text = "Nagpur"
mylist = []
for ch in text:
    mylist.append(ch)
print(mylist)

#=====> 31%fast

['N', 'a', 'g', 'p', 'u', 'r']

In [246]:
mylist = list(map(lambda x: x, text))
mylist


#=====> 45% fast

['N', 'a', 'g', 'p', 'u', 'r']

In [248]:
#list comprehensions

mylist = [x for x in text]
mylist

['N', 'a', 'g', 'p', 'u', 'r']

In [252]:
nos = [1, 2, 3, 4, 5]
square_nos = [n**2 for n in nos]
square_nos

[1, 4, 9, 16, 25]

## tuple
[🏠](#Python-Programming)

In [114]:
# Tuple: ordered collection of objects/ immutable

mytuple = ()
print(type(mytuple))

mytuple = 1, 2, 3
print(type(mytuple))

<class 'tuple'>
<class 'tuple'>

In [116]:
a = (10)
print(type(a))      # EWWWWW Y? Y? Y? 
                    # -> just bcoz () is used to define operator precedence; so it assum as exp and then evaluat to int ->2

<class 'int'>

In [118]:
# for that the solutions is;
a = 10,
print(type(a))

# or
a = (10,)
print(type(a))

<class 'tuple'>
<class 'tuple'>

In [120]:
# packing & unpacking

t = 10, 20, 40
print(t)

a, b, c = t
print(a, b, c, sep='=>')
type(a)

(10, 20, 40)
10=>20=>40

int

In [122]:
a, *b = t
print(a, b)

10 [20, 40]

In [124]:
*a, b = t
print(a, b)

[10, 20] 40

In [126]:
# swap 2 no
a, b = b, a
print(a, b)

40 [10, 20]

In [128]:
# Accessing the tuple-==> print()/subscript->[]/slice->[:]
tt = (10, 20, 30)
print(tt)
print(tt[-1])
print(tt[::-1])

(10, 20, 30)
30
(30, 20, 10)

In [130]:
# we can;t delete a part of tuple but entire can be done using -> del

del tt
print(tt)

NameError: name 'tt' is not defined

In [131]:
# buitl-in func
ttt = (10, 30, 40, 89)
len(ttt)
max(ttt)
min(ttt)
sum(ttt)
sorted(ttt)  # returns an list of sorted ele
a = tuple([1,2,3, 0])
a
any(ttt)
all(a)

False

In [134]:
ttt.index(40)

2

In [136]:
ttt.count(89)

1

In [138]:
(90,)+(90,)

(90, 90)

In [140]:
(60,) * 3

(60, 60, 60)

## string
[🏠](#Python-Programming)

In [1]:
# String: sequence of zero or more character.
#        -> Immutable
#        -> we can't changed the its ele
#        -> 3 ways to create string -> '' / "" / """""" or ''''''

In [8]:
name = "Kunal Dharpure"

print(name)
print(type(name))
print(name[-1])
print(name[::-1])
print(name[:5])

Kunal Dharpure
<class 'str'>
e
eruprahD lanuK
Kunal

In [12]:
i = 0
while i < len(name):
    print(name[i], end='->')
    i += 1

K->u->n->a->l-> ->D->h->a->r->p->u->r->e->

In [16]:
# reverse 
for i in range(len(name)-1, -1, -1):
    print(name[i], end='->')

e->r->u->p->r->a->h->D-> ->l->a->n->u->K->

In [24]:
# Qn x=?
x = "Ba"+"na"*2
# Ans: ?

In [74]:
# Built-in func
city = "Nagpur"

print(len(name))
print(max(name)) # -> returns a char which is alphabetically the highest char in str
print(min(name))
print(chr(66)) 
print(ord('A')) # -> unicode

s = str([1,2,3,4,5])
print(type(s))
s[0]

14
u

B
65
<class 'str'>

'['

In [86]:
# formating
name = "kunal"
age = 21

print("My name is "+name+" & I am "+str(age)+" yrs old.")
print("My name is", name, "& I am", age, "yrs old.")
print("My name is {} & I am {} yrs old.".format(name, age))
print("My name is %s & I am %i yrs old."%(name, age))

# f-string
print(f"My name is {name} & I am {age} yrs old.")

My name is kunal & I am 21 yrs old.
My name is kunal & I am 21 yrs old.
My name is kunal & I am 21 yrs old.
My name is kunal & I am 21 yrs old.
My name is kunal & I am 21 yrs old.

In [110]:
# String methods;
# capitalize() -> return a copy

name = "KunaL dharpure"

fname = name.capitalize()
print(fname)

print(name.lower())
print(name.upper())
print(name.swapcase())
print(name.title()) # -> Proper Case.--> All Are Fun

# string comparison
print(name.islower())
print(name.isupper())

# istitle()
# isalpha()
# isdigit()
# isspace() -> is there any space in str
# startswith() -> takes 3 arg (2optional)===> startswith(suffix, start, end)
# endswith()

Kunal dharpure
kunal dharpure
KUNAL DHARPURE
kUNAl DHARPURE
Kunal Dharpure
False
False

In [122]:
# searching methods
name = "I hate programming!"

print(name.index('p'))  # -> throws exception if not present

print(name.find("hate")) # -1 in case not present

7
2

In [130]:
fname = " kunal Dharpure "

ans = fname.replace('u', 'U')
print(ans)

print(fname.strip()) # -> leading & trailing char removed

 kUnal DharpUre

'kunal Dharpure'

In [138]:
# spilt() --> impt   ==> returns the list

word = "I am Batman!"
new_word = word.split()  # based on space splited into list
new_word

['I', 'am', 'Batman!']

In [152]:
mail = "kunal@gmail.com"
# take the domain from mail 

domain = mail.split('@')
domain[-1]

'gmail.com'

In [160]:
# join() -> <str>.join(iterable)  ==> returns the str

l = "Python"
ls = " ".join(l)
print(ls)
print(type(ls))

P y t h o n
<class 'str'>

In [166]:
l = ["H", "A", "R", "I"]
"".join(l)

'HARI'

# dictionaries
[🏠](#Python-Programming)

In [258]:
# Dictionary: unordered collection of items ==============> but 3.7+ onward it is ordered
# Mutable
# Dynamic in nature
# key: value

d = {
    'A': "Apple",
    'B': "Banana",
    'C': "Cashew"
}

print(type(d))
print(d)

<class 'dict'>
{'A': 'Apple', 'B': 'Banana', 'C': 'Cashew'}

In [260]:
dd = dict() #empty
type(dd)

dict

In [262]:
d = {} #empty dict
type(d)

dict

In [269]:
d = {50: "kunal", 51: "lokedra"}
d

{50: 'kunal', 51: 'lokedra'}

In [281]:
# Accessing -> 4ways

print(d)

print(d[50])

print(d.get(51))

for i, v in d.items():
    print(i, v)

{50: 'kunal', 51: 'lokedra'}
kunal
lokedra
50 kunal
51 lokedra

In [283]:
print(d.keys())
print(d.values())
print(d.items()) # -> list of tuples

dict_keys([50, 51])
dict_values(['kunal', 'lokedra'])
dict_items([(50, 'kunal'), (51, 'lokedra')])

In [307]:
# update -> 2ways

student = {
    '50': "kunal",
    '51': "lokedndra",
    '52': "nikita",
    '53': "krishna"
}

student[55] = "nandini"
print(student)

student.update({'50': "kunal pawar"})
print(student)

{'50': 'kunal', '51': 'lokedndra', '52': 'nikita', '53': 'krishna', 55: 'nandini'}
{'50': 'kunal pawar', '51': 'lokedndra', '52': 'nikita', '53': 'krishna', 55: 'nandini'}

In [309]:
#remove
print(student.pop('53'))
student

krishna

{'50': 'kunal pawar', '51': 'lokedndra', '52': 'nikita', 55: 'nandini'}

In [313]:
student.clear()
student

{}

In [315]:
del student
# student  # NameError as student is deleted completly

NameError: name 'student' is not defined

In [323]:
d = {
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five'
}

new = d.copy() # shallow copy 
new

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [333]:
new_d = d   # deep copy;
new_d[6] = "six"

print(d)
print(new_d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [335]:
# dict comprehensions

cars = {"maruti": "ciaz", "hyundai": "verna", "honda": "Amaze"}

cars2 =  {k: v for k, v in cars.items()}

print(cars)
print(cars2)

{'maruti': 'ciaz', 'hyundai': 'verna', 'honda': 'Amaze'}
{'maruti': 'ciaz', 'hyundai': 'verna', 'honda': 'Amaze'}

# OOPs
[🏠](#Python-Programming)