In [1]:
!python --version

Python 3.12.4

In [3]:
print("Hello, World!")

Hello, World!

### Taking Input in Python

In [6]:
# input() function is used to take input.
# By default it returns the user input in form of string

name = input("What is ur name? ")
print("Hi, ", name, "! Welcome!")

What is ur name?  kunal

Hi,  kunal ! Welcome!

In [12]:
# taking multiple input at a time

a, b = input().split()

print(a, b)

print(type(a))

 12 21

12 21
<class 'str'>

In [14]:
# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

How many roses?:  21

21

In [16]:
type(n)

int

In [18]:
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [31]:
### Formatting output

### 1. using format()
amount = 150.75
print("Amount: ${:.10f}".format(amount))

Amount: $150.7500000000

In [33]:
### 2: Using sep and end parameter

# end Parameter with '@'
print("Python", end='@')
print("GeeksforGeeks")

# Seprating with Comma
print('G', 'F', 'G', sep='')

# for formatting a date
print('09', '12', '2016', sep='-')

# another example
print('pratik', 'geeksforgeeks', sep='@')

Python@GeeksforGeeks
GFG
09-12-2016
pratik@geeksforgeeks

In [35]:
### 3. Using f-string

name = 'kunal'
age = 21
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is kunal and I'm 21 years old.

In [37]:
### 4. Using % operator

# Taking input from the user
num = int(input("Enter a value: "))

add = num + 5

# Output
print("The sum is %d" %add)

Enter a value:  2

The sum is 7

In [39]:
# Assigning value to variable
x = 10
print(x) 

# Removing the variable using del
del x

# Trying to print x after deletion will raise an error
# print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined

10

In [43]:
### swaping two no

a, b = 3, 40
a, b = b, a

print(a, b)

40 3

In [45]:
### counting character in str

word = "Python"
length = len(word)
print("length of the word: ", length)

length of the word:  6

In [49]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Data types and operators

In [52]:
# OPERATORS: These are the special symbols. Eg- + , * , /, etc.
# OPERAND: It is the value on which the operator is applied.

In [64]:
### Arithmetic operators

# Variables
a = 15
b = 4

# Addition
print("Addition:", a + b)  

# Subtraction
print("Subtraction:", a - b) 

# Multiplication
print("Multiplication:", a * b)  

# Division
print("Division:", a / b) 

# Floor Division
print("Floor Division:", a // b)  

# Modulus
print("Modulus:", a % b) 

# Exponentiation
print("Exponentiation:", a ** b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Modulus: 3
Exponentiation: 50625

In [66]:
## comparisioin operator

a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [68]:
## logical operator

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [70]:
## bitwise operator

a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [72]:
## assignment op

a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [78]:
## identity op

a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [80]:
## membership op

x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [82]:
## ternary also known as conditional expression

a, b = 10, 20
min = a if a < b else b

print(min)

10

## Data types

- Numeric -> integer, complex, float <br>
- Dictionary <br>
- Boolean<br>
- Set<br>
- Sequence type -> string, list, tuple<br>

In [96]:
#  int, float, string, list and set
x = 50
x = 60.5
x = "Hello World"
x = ["ML", "100x"]
x = ("ML", "100x")

In [88]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [98]:
## sequence data type: string, list, tuple

s = 'Welcome to the ML100x'
print(s)

# check data type 
print(type(s))

# access string with index
print(s[1])
print(s[2])
print(s[-1])

Welcome to the ML100x
<class 'str'>
e
l
x

In [100]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed int and string
b = ["ML", "100x", 4, 5]
print(b)

[1, 2, 3]
['ML', '100x', 4, 5]

In [104]:
# initiate empty tuple
tup1 = ()

tup2 = ('ML', '100x')
print("\nTuple with the use of String: ", tup2)

Tuple with the use of String:  ('ML', '100x')

In [108]:
# initializing empty set
s1 = set()

s1 = set("ML100x")
print("Set with the use of String: ", s1)

s2 = set(["ML", "100", "x"])
print("Set with the use of List: ", s2)

Set with the use of String:  {'0', 'M', 'x', '1', 'L'}
Set with the use of List:  {'x', 'ML', '100'}

In [112]:
# initialize empty dictionary
d = {}


d = {1: 'ML', 2: '100', 3: 'x'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({1: 'ML', 2: '100', 3: 'x'})
print(d1)

{1: 'ML', 2: '100', 3: 'x'}
{1: 'ML', 2: '100', 3: 'x'}

In [114]:
## list operations

fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.append("grape")
print(fruits)
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'grape']

In [116]:
# tuple operations

coordinates = (3, 5)
print(coordinates)
print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

(3, 5)
X-coordinate: 3
Y-coordinate: 5

### if conditional statement in python

```
if conditions:
    // stmt
else:
    // stmt
```

In [135]:
age = 20

if age >= 18:
    print("Eligible to vote.")

Eligible to vote.

In [137]:
## short hand if

age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

In [139]:
age = 10

if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

In [141]:
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [143]:
## match case

number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three

In [145]:
x=1
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd